.planCard {
	background-color: #f0f0f0;
	margin: 2rem 0 2rem 0;
	border-radius: 0.75rem;
	padding: 1rem 1rem 1.5rem 1rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	min-height: 50vh;
	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		color: #101828;
		margin: 1rem 0rem 1.25rem 0.5rem;
	}

	.features {
		flex: 1;
		margin: 0;
		margin-bottom: 1.5rem;
		list-style-type: none;
		padding: 0;
		li {
			color: #101828;
		}
	}

	.tickWrapper {
		display: flex;
		align-items: flex-start; // Aligns items to the top
		margin-right: 1rem;
		margin-bottom: 1rem;

		.tick {
			color: green;
			font-weight: 600;
			margin-right: 0.75rem; // This ensures a gap between the tick and the text
			font-size: 1rem;
			line-height: 1.5rem;
		}
		.text {
			color: #3f3f46;
			font-size: 1.25rem;
			line-height: 1.5rem;
			font-weight: 400;
		}
	}
	.price {
		font-size: 1.5rem;
		font-weight: bold;
		margin: 1rem 0;
		color: #101828;
		margin-left: 0.5rem;
	}

	.subscribeBtn {
		width: 100%;
		background-color: #000;
		color: white;
		padding: 0.75rem 0.25rem;
		border: none;
		border-radius: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;

		&:hover {
			background-color: #101828;
		}
	}

	.alreadySubscribed {
		background-color: #888; /* Grayed out background */
		cursor: not-allowed; /* Indicate that the button is not clickable */
		&:hover {
			background-color: #888; /* Keep the same color on hover */
		}
	}
}
@media only screen and (max-width: 720px) {
	.planCard {
		margin: 1.5rem;

		h3 {
			margin: 0.5rem 0rem 1.25rem 0.5rem;
		}
		.tickWrapper {
			margin-left: 0.75rem;
			margin-bottom: 0.5rem;
			.tick {
				color: green;
				margin-right: 0.5rem; // This ensures a gap between the tick and the text
				font-size: 1.5rem;
				line-height: 1.75rem;
			}
			.text {
				font-size: 1.5rem;
				line-height: 1.75rem;
			}
		}
		.subscribeBtn {
			font-size: 1rem;
			font-weight: 700;
			padding: 0.75rem 0.25rem;
		}
	}
}
