.myChatBotContainer {
	flex: 1;
	display: flex;
	text-align: left;
	flex-direction: column;
	padding-top: 12px;
	padding-bottom: 18px;
}
.myChatBotTitleHeading {
	font-size: 32px;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #101828;
	font-family: "Roboto", sans-serif;
}
.myChatBotTitleSubHeading {
	font-size: 20px;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #444;
	font-family: "Roboto", sans-serif;
}

.createButtonContainer {
	margin-top: 32px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.chatBotGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 20px;
	margin-top: 20px;
	margin-left: 16px;
	margin-right: 16px;
}

.chatbotCard {
	border-radius: 12px;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	transition: box-shadow 0.3s ease;
	text-decoration: none;
	color: #333;
	&:hover {
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	}
}

.charbotCardImg {
	align-self: center;
	width: 100%;
	object-fit: contain;
	padding-top: 32px;
	padding-bottom: 32px;
}

.cardName {
	background-color: #f4f4f4;
	text-align: center;
	margin: 0px;
	font-size: 20px;
	font-weight: 500;
	padding: 24px 8px;
	margin-top: 8px;
	white-space: nowrap; // Prevents the text from wrapping to the next line
	overflow: hidden; // Ensures that overflowing text is hidden
	text-overflow: ellipsis; // Adds ... when the text overflows its container
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

@media only screen and (max-width: 720px) {
	.myChatBotContainer {
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

@media only screen and (min-width: 1080px) {
	.myChatBotContainer {
		padding-left: calc(50vw - 560px);
		padding-right: calc(50vw - 560px);
	}
}
