.chatBotEditorContainer {
	flex: 1;
	display: flex;

	flex-direction: column;
	padding-top: 12px;
	padding-bottom: 18px;
	align-items: center;
}
.chatbotEditorTitleHeading {
	font-size: 32px;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: rgba(0, 0, 0, 0.803);
}

@media only screen and (max-width: 720px) {
	.chatBotEditorContainer {
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

@media only screen and (min-width: 1080px) {
	.chatBotEditorContainer {
		padding-left: calc(50vw - 560px);
		padding-right: calc(50vw - 560px);
	}
}
