.accountScreenContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 32px;
	h5 {
		font-size: 24px;
		margin: 0px;
		margin-bottom: 16px;
		margin-left: 4px;
		margin-top: 8px;
		font-weight: 600;
		color: #374151;
	}
	p {
		font-size: 20px;
		font-weight: 500;
		color: #71717a;
		margin: 0px;
		margin-left: 4px;
		margin-bottom: 8px;
	}
}

.accountHeader {
	font-size: 3rem;
	text-align: center;
	margin: 0;
}

.itemContainer {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ccc;
	border-radius: 8px;
	width: calc(100% - 64px);
	margin-top: 1rem;
	padding: 0.5rem 1rem;
}
.subscriptionItemContainer {
	@extend .itemContainer;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	button {
		background-color: #000; /* Green */
		color: white;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 0.25rem;
		font-size: 0.75rem;
		font-weight: 500;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.button:hover {
		background-color: #101828;
	}
}

.logoutButton {
	align-self: center;
	margin-top: 3rem;
}

@media only screen and (min-width: 720px) {
	.accountScreenContainer {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
}
