.accountScreenContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 32px;
	h5 {
		font-size: 24px;
		margin: 0px;
		margin-bottom: 16px;
		margin-left: 4px;
		margin-top: 8px;
		font-weight: 600;
		color: #374151;
	}
	p {
		font-size: 20px;
		font-weight: 500;
		color: #71717a;
		margin: 0px;
		margin-left: 4px;
		margin-bottom: 8px;
	}
}

.accountHeader {
	font-size: 64px;
	text-align: center;
	margin: 0;
}

.itemContainer {
	border: 1px solid #ccc;
	border-radius: 12px;
	width: calc(100% - 64px);
	margin: 16px;
	padding: 16px;
}

.logoutButton {
	align-self: center;
	margin-top: 16px;
}

@media only screen and (min-width: 720px) {
	.accountScreenContainer {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
}
