.homeScreenContainer {
	flex: 1;
	display: flex;
	min-height: 100vh;
	width: 100%;
	flex-direction: column;
	align-self: center;

	h1 {
		text-align: center;
		font-size: 3.5rem;
		line-height: 1.2;
		margin: 0px;
		color: #101828;
		font-weight: 900;
		span {
			color: #428dff;
			font-weight: 800;
		}
	}
	h2 {
		font-size: 2rem;
		line-height: 1;
		color: #101828;
		font-weight: 800;
		text-align: center;
	}

	p {
		text-align: center;
		font-size: 1.125rem;
		line-height: 1rem;
		color: #475467;
		font-weight: 500;
		margin: 0;
		span {
			font-weight: 600;
		}
	}
}

.topOverviewContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	padding-top: 5vh;

	padding-left: 1rem;
	padding-right: 1rem;
	p {
		margin-top: 2rem;
	}

	button {
		display: flex;
		align-items: center; // Vertically center the image and text
		margin-top: 3rem;
		font-size: 1.25rem;
		font-weight: 600;
		color: white;
		background-color: #428dff;
		border: none;
		padding: 0.85rem 1.2rem;
		border-radius: 0.75rem;
		box-shadow: 0px 0.25rem 1rem rgba(66, 141, 255, 0.2);
		transition: all 0.3s ease;

		&:hover {
			cursor: pointer;
			background-color: #2a6fd4;
			transform: translateY(-2px);
		}

		&:active {
			transform: translateY(0px);
		}

		img {
			margin-right: 0.5rem; // Space between the image and the text
			width: 2rem; // Adjust as needed
			height: 2rem; // Adjust as needed
		}
	}
}

.featureOverviewContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 10rem;
	width: 100%;

	.featureListContainer {
		display: flex;
		flex-direction: row;
		padding-top: 1rem;
		width: 100%;

		.selectedDesc {
			display: none;
		}
		.featureList {
			display: flex;
			max-width: 480px;
			width: 30%;
			flex-direction: column;

			h3 {
				font-size: 1rem;
				text-align: left;
				margin: 0;
			}
			p {
				font-size: 0.8rem;
				text-align: left;
				margin-top: 0.5rem;
			}
			.sideMenuItem {
				padding: 1rem;
				border-radius: 8px;
				border: 1px solid transparent;

				&:hover {
					cursor: pointer;
					background-color: #e7e7e7;
				}
				&.selected {
					border: 1px solid #d1d1d1; /* A subtle border color */
					background-color: #e0e0e0;
				}
			}
		}

		.featureImgContainer {
			width: calc(100% - min(30%, 500px));
			overflow: hidden; /* This will ensure only the part of the image that fits within the container width is visible */
			position: relative;
			height: 1080px; // Set the height to 720px
			padding-left: 1rem;
			img {
				height: 100%;
				border-radius: 8px;
				box-shadow: 0px 4px 15px rgba(66, 141, 255, 0.2);
			}
		}
	}
}
.videoDemoContainer {
	display: flex;
	flex-direction: column;
	align-items: center; // This will center the child elements horizontally
	justify-content: flex-start; // This will align the child elements to the top
	margin-top: 10rem;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;

	.demoVideo {
		margin-top: 32px;
		max-width: 1280px;
		width: 100%;
		height: auto;
		box-shadow: 0px 4px 15px rgba(66, 141, 255, 0.2);
		border-radius: 8px;
	}
}

.liveDemoContainer {
	display: flex;
	flex-direction: column;
	align-items: center; // This will center the child elements horizontally
	justify-content: flex-start; // This will align the child elements to the top
	padding-bottom: 1rem;
	margin-top: 10rem;
	padding-left: 1rem;
	padding-right: 1rem;

	text-align: center;
	h2 {
		margin: 0;
	}
	p {
		margin-top: 2rem;
	}
}

.liveDemoIframeContainer {
	display: flex;
	margin-top: 2rem;
	max-width: 1080px;
	width: 100%;
	height: 600px;
	box-shadow: 0px 4px 15px rgba(66, 141, 255, 0.2);
	justify-content: center;

	.liveDemoIframe {
		width: 100%;
		height: 100%;
	}

	.roundLoader {
		border: 0.15rem solid transparent; // Transparent color for the loader's track
		border-top: 0.15rem solid #666; // Light grey color for the loader's active part
		border-radius: 50%; // This makes it round
		width: 3rem;
		height: 3rem;
		animation: spin 2s linear infinite;
		transform: translate(-50%, -50%);
		position: absolute;
		align-self: center;
	}
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.availableIntegrationsContainer {
	margin-top: 10rem;
	max-width: 1080px;
	align-self: center;
	flex-direction: column;
	width: 100%;
	h2 {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.availableIntegrationsRow {
		margin-top: 4rem;
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, auto);
		column-gap: 4rem;
		row-gap: 2rem;
		width: 100%;
		.integrationItem {
			flex: 1;
			max-width: 250px;
			max-height: 150px;
			object-fit: contain;
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}
}

.faqContainer {
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
	width: 100%;
	max-width: 1080px;
	align-self: center;

	h2 {
		padding-bottom: 1.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.faqItem {
	border-bottom: 1px solid #e0e0e0;
	padding: 0.75rem 0;
	position: relative;
	margin-left: 1rem;
	margin-right: 1rem;

	&:last-child {
		border-bottom: none;
	}
	.toggleSign {
		font-size: 1.5rem;
		font-weight: 500;
		align-self: flex-end;
		position: absolute;
		right: 0;
	}
	h3 {
		font-size: 1rem;
		font-weight: 600;
		cursor: pointer;
	}

	p {
		text-align: left;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.25rem;
	}
}

@media only screen and (max-width: 1080px) {
	.homeScreenContainer {
		height: calc(50vw - 60px); // Adjusted for mobile
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 2rem;
			margin-bottom: 0px;
		}
		p {
			font-size: 1rem;
			line-height: 1.5rem;
			margin-top: 2rem;
		}
	}
	.topOverviewContainer {
		margin-top: 3rem;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		button {
			margin-top: 2rem;
			img {
				display: none;
			}
		}
	}
	.featureOverviewContainer {
		flex-direction: column;
		align-items: center;
		margin-top: 5rem;
		.featureListContainer {
			flex-direction: column;
			margin-top: 1rem;

			.selectedDesc {
				display: block;
				margin-top: 1rem;
			}
			.featureList {
				display: flex;
				align-self: center;
				flex-direction: row;
				gap: 1rem;
				width: 100%;
				max-width: none;
				-webkit-overflow-scrolling: touch;
				overflow-x: auto;
				&::-webkit-scrollbar {
					display: none;
				}
				scrollbar-width: none;
				-ms-overflow-style: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				.sideMenuItem {
					padding: 0.5rem;
					border-radius: 1rem;

					h3 {
						white-space: nowrap; /* Prevents the text from wrapping onto the next line */
					}
					p {
						display: none;
					}
				}
			}

			.featureImgContainer {
				margin-top: 2rem;
				width: 100%;
				object-fit: contain;
				padding: 0;
				height: 720px;
			}
		}
	}
	.videoDemoContainer {
		margin-top: 0rem;
		padding-top: 0;
	}
	.liveDemoContainer {
		margin-top: 5rem;
		padding-top: 0;
	}
	.availableIntegrationsContainer {
		margin-top: 5rem;

		.availableIntegrationsRow {
			margin-top: 3rem;
			grid-template-columns: repeat(2, auto);
			column-gap: 2rem;
			row-gap: 0rem;
			.integrationItem {
				max-width: 150px;
				max-height: 120px;
			}
		}
	}
	.faqContainer {
		margin-top: 5rem;
	}
}
