.homeScreenContainer {
	flex: 1;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	h1 {
		font-size: 3.5rem;
		line-height: 1.2;
		margin: 0px;
		color: #101828;
		font-weight: 800;
	}
	h2 {
		font-size: 2rem;
		line-height: 1;
		margin: 0px;
		color: #101828;
		font-weight: 800;
	}
	h3 {
		font-size: 1.25rem;
		font-weight: 500;
		color: #333333;
	}
	p {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		margin: 0px;
	}
}

.topOverviewContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	padding-top: 10vh;
	padding-bottom: 20vh;
	h1 {
		text-align: center;
		span {
			color: #428dff;
			font-weight: 800;
		}
	}

	h3 {
		margin: 0px;
		margin-top: 2rem;
		text-align: center;
		span {
			font-weight: 600;
		}
	}

	button {
		display: flex;
		align-items: center; // Vertically center the image and text
		margin-top: 2rem;
		font-size: 1.25rem;
		font-weight: 600;
		color: white;
		background-color: #428dff;
		border: none;
		padding: 0.85rem 1.2rem;
		border-radius: 0.75rem;
		box-shadow: 0px 4px 15px rgba(66, 141, 255, 0.2);
		transition: all 0.3s ease;

		&:hover {
			cursor: pointer;
			background-color: #2a6fd4;
			transform: translateY(-2px);
		}

		&:active {
			transform: translateY(0px);
		}

		img {
			margin-right: 0.5rem; // Space between the image and the text
			width: 36px; // Adjust as needed
			height: 36px; // Adjust as needed
		}
	}
}

.videoDemoContainer {
	display: flex;
	flex-direction: column;
	align-items: center; // This will center the child elements horizontally
	justify-content: flex-start; // This will align the child elements to the top
	margin-top: 5rem;
	padding-bottom: 3rem;
	text-align: center;
	p {
		margin-top: 0.5rem;
	}
}
.demoVideo {
	margin-top: 32px;
	max-width: 1280px;
	width: 100%;
	height: auto;
	box-shadow: 0px 4px 15px rgba(66, 141, 255, 0.2);
	border-radius: 8px;
}
.liveDemoContainer {
	display: flex;
	flex-direction: column;
	align-items: center; // This will center the child elements horizontally
	justify-content: flex-start; // This will align the child elements to the top

	margin-top: 5rem;
	text-align: center;
	p {
		margin-top: 0.5rem;
	}
}

.liveDemoIframe {
	margin-top: 32px;
	max-width: 1080px;
	width: 100%;
	height: 600px;
	box-shadow: 0px 4px 15px rgba(66, 141, 255, 0.2);
}

@media only screen and (max-width: 720px) {
	.homeScreenContainer {
		height: calc(50vh - 60px); // Adjusted for mobile
		width: 100vw;
	}
	.topOverviewContainer {
		margin-top: 1rem;
		padding-top: 5vh;
		padding-bottom: 10vh;

		h1 {
			font-size: 2.5rem;
		}
		h3 {
			font-size: 1rem;
			max-width: 95%; // Further increased width for mobile
		}
		button {
			font-size: 0.8rem;
			margin-top: 1.5rem;
			padding: 0.75rem 1rem; // Adjusted padding for mobile
		}
	}
}
