.pricingScreenContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 1080px;
	width: 100%;
	margin: 16px;
	margin: 0 auto;
}

.pricingHeader {
	font-size: 64px;
	text-align: center;
	margin: 0;
	color: #101828;
}

.pricingPlansContainer {
	display: flex;
	flex-direction: row;
	flex: 1;
}
