/* SignInPage.module.scss */
.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
}

.card {
	padding: 20px;
	width: 320px;
	text-align: center;
	align-items: center;
}

.googleButton {
	display: flex;
	width: 100%;
	background-color: #fff;
	border: none; /* Remove the border to make it cleaner */
	border-radius: 5px;
	cursor: pointer;
	margin-top: 16px;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for elevation */
	transition: all 0.3s ease; /* Smooth transitions for hover effects */
}

.googleButton:hover {
	background-color: #f7f7f7; /* Slight color change on hover */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase shadow depth on hover */
}

/* If you have an icon inside the button, style it like this */
.googleButton img {
	margin-right: 8px; /* Space between the icon and the text */
	height: 20px;
	width: 20px;
}

.googleIcon {
	object-fit: contain;
	margin-right: 12px;
}
.googleText {
	color: #333;
	font-size: 16px;
}

.appleButton {
	display: flex;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 16px;
	align-items: center;
	justify-content: center;
}

.appleIcon {
	object-fit: contain;
	margin-right: 12px;
}
.appleText {
	color: #333;
	font-size: 16px;
}

.horizontalLine {
	color: #eaeaea;
	width: 100%;
	margin-top: 2rem;
}
.emailPasswordContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	max-width: 400px; /* Adjust as needed */
	margin: 0 auto;
}

.input {
	padding: 12px 16px;
	width: 100%;
	margin-top: 16px;
	border-radius: 8px;
	font-size: 16px;
	transition: border-color 0.3s ease;

	&:focus {
		border-color: #428dff;
		outline: none;
		box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
	}
}

.button {
	margin-top: 24px;
	width: 100%;
	padding: 12px;
	background-color: #428dff;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #2a6fd4;
	}
}

.switchLink {
	margin-top: 16px;
	font-size: 14px;
	text-align: center;

	a {
		color: #428dff;
		text-decoration: none;
		margin: 0 4px;
		transition: color 0.3s ease;

		&:hover {
			color: #2a6fd4;
			text-decoration: underline;
		}
	}
}

@media only screen and (max-width: 720px) {
	.container {
		margin-top: 10vh;
	}
}
