.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: calc(100% - 64px);
	margin-left: auto;
	margin-right: auto;
	ul {
		margin: 0;
		margin-top: 16px;
		padding: 0;
		list-style-type: none; // This removes the default bullet points
		li {
			margin: 0;
			padding: 0;
		}
	}
}

.inputTextArea {
	flex: 1;
	border: none;
	padding: 8px;
	margin-top: 16px;
	overflow-y: auto;
	box-sizing: border-box;
	background-image: none;
	border: 1px solid #ccc;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	::selection {
		background: transparent; // Removes the default color
		border: none;
	}
}

.buttonSaveText {
	margin-top: 24px;

	align-self: center;
}
.trainComponentContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
}
