.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 1080px;
	width: calc(100vw - 64px);
	ul {
		margin: 0;
		margin-top: 16px;
		padding: 0;
		list-style-type: none; // This removes the default bullet points
		li {
			margin: 0;
			padding: 0;
		}
	}
}

.inputTextArea {
	flex: 1;
	border: none;
	padding: 8px;
	margin-right: 16px;
	margin-top: 16px;
	overflow-y: auto;
	box-sizing: border-box;
	background-image: none;
	border: 1px solid #ccc;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	::selection {
		background: transparent; // Removes the default color
		border: none;
	}
}
.buttonFetchLinks {
	margin-top: 24px;
	width: 100%;
	padding: 8px;
	background-color: #333;
	color: #eaeaea;
}

.buttonAddURL {
	background-color: #333;
	color: #eaeaea;
	align-self: flex-end;
}
.urlItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.urlItemP {
	margin: 0;
}

.urlCharCount {
	margin-left: 8px;
	font-size: 18px;
	width: 60px;
}

.charDetected {
	margin-left: 16px;
	font-size: 20px;
	align-self: flex-end;
}

.urlItemButton {
	background-color: transparent; // Make the button background transparent
	border: none;
	cursor: pointer;
	padding: 0; // Remove padding if you want the image to fit the button exactly
	img {
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 16px;
	}
}
