.settingsContainer {
	padding-top: 16px;
	margin-left: 16px;
	margin-right: 16px;
	max-width: 1080px;
	width: calc(100vw - 64px);
	padding: 12px;
	display: flex;
	flex-direction: column;
	margin-top: 32px;
}
