.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.headerLogoContainer {
	display: flex;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 16px;

	&:active,
	&:focus {
		outline: none;
		-webkit-tap-highlight-color: transparent; // For mobile web views
	}
}

.headerLogo {
	object-fit: contain;
	height: 80px;
	width: 300px;
}
.linksContainer {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	a:hover {
		transform: translateY(-2px); /* Gives a slight lift effect on hover */
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
	}
	a:active {
		transform: translateY(1px); /* Pushes the button down a bit when clicked */
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
}

.selectionItem {
	margin: 0 15px; // Increased spacing a bit
	display: inline-block;
	padding: 8px 18px;
	border: none;
	border-radius: 12px;
	color: #101828;
	font-size: 1.25rem;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s, transform 0.3s, color 0.3s;
	cursor: pointer;
}

.profileActionContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 250px;
	margin-right: 16px;
	align-items: center;
	font-size: 1.2rem;
	a {
		display: inline-block;
		padding: 8px 18px;
		border: none;
		border-radius: 12px;
		color: #101828;
		text-decoration: none;
		font-weight: bold;
		transition: background-color 0.3s, transform 0.3s;
		cursor: pointer;
	}
	a:hover {
		transform: translateY(-2px); /* Gives a slight lift effect on hover */
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
	}
	a:active {
		transform: translateY(1px); /* Pushes the button down a bit when clicked */
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
}

.hamburgerContainer {
	display: none;
}

.hamburgerLogo {
	object-fit: contain;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: white; /* Semi-transparent black */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.closeButton {
	position: absolute;
	top: 32px;
	right: 20px;
	border: none;
	background-color: white; /* Semi-transparent black */
	width: 32px;
	height: 32px;
	font-weight: bold;
	cursor: pointer;
}

.closeImg {
	object-fit: contain;
	height: 20px;
	width: 20px;
}
.menu ul {
	list-style-type: none;
	padding: 0;
	height: 100%;
	width: 100%;
	margin-top: 64px;
}

.menu li {
	margin: 16px;
}

.menu a {
	display: flex;
	flex: 1;
	color: #101828;
	text-decoration: none;
	font-size: 20px;
	padding: 16px;
	border-radius: 12px;
	font-weight: 600;
}

.menu a:hover {
	background-color: #e5e7eb;
}

@media only screen and (max-width: 1080px) {
	.headerContainer {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.headerLogo {
		object-fit: contain;
		height: 50px;
		width: 250px;
	}
	.linksContainer {
		display: none;
	}
	.profileActionContainer {
		display: none;
	}
	.hamburgerContainer {
		display: flex;
		margin-right: 16px;
		margin-top: 16px;
		z-index: 1000;
	}
	.hamburgerLogo {
		object-fit: contain;
		height: 24px;
		width: 24px;
	}
}
