.headerContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.headerLogoContainer {
	flex: 1;
	display: flex;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 18px;
}
.headerLogo {
	object-fit: contain;
	height: 80px;
	width: 300px;
}

@media only screen and (max-width: 720px) {
	.headerLogoContainer {
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.headerLogo {
		height: 50px;
		width: 250px;
	}
}

@media only screen and (min-width: 1080px) {
	.headerLogoContainer {
		padding-left: calc(50vw - 560px);
		padding-right: calc(50vw - 560px);
	}
}
