.bottomTryNowComponent {
	margin-top: 10rem;
	margin-bottom: 10rem;
	display: flex;
	background-color: #101828;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
	flex-direction: column;
	border-radius: 1rem;
	padding-top: 5rem;
	padding-bottom: 6rem;
	padding-left: 3rem;
	padding-right: 3rem;

	.bottomTryNowComponentHeader {
		color: white;
		font-weight: 800;
		text-align: center;
		line-height: 3.5rem;
		font-size: 3rem;
	}
	.bottomTryNowComponentButton {
		display: flex;
		align-items: center; // Vertically center the image and text
		margin-top: 3rem;
		font-size: 1.25rem;
		font-weight: 600;
		color: #101828;
		background-color: white;
		border: none;
		padding: 0.85rem 1.2rem;
		border-radius: 0.75rem;
		box-shadow: 0px 0.25rem 1rem rgba(66, 141, 255, 0.2);
		transition: all 0.3s ease;

		&:hover {
			cursor: pointer;
			transform: translateY(-2px);
		}

		&:active {
			transform: translateY(0px);
		}

		img {
			margin-right: 0.5rem; // Space between the image and the text
			width: 2rem; // Adjust as needed
			height: 2rem; // Adjust as needed
		}
	}
}

@media only screen and (max-width: 1080px) {
	.bottomTryNowComponent {
		padding-top: 1rem;
		padding-bottom: 3rem;
	}
}
