.chatbotContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	z-index: 1000; // To ensure it's on top of other elements
}

.chatbotMessagesContainer {
	flex: 1;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
}

.incomingBubble {
	justify-content: flex-start;
	display: flex;
	margin-bottom: 8px;
}
.outgoingBubble {
	justify-content: flex-end;
	display: flex;
	margin-bottom: 8px;
}

.baseMessageContainer {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	padding: 0 16px;
	border-radius: 15px;
	max-width: 70%;
	white-space: pre-wrap;
	word-break: break-word;
	p {
		line-height: 20px;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		padding-left: 1em;
	}
	li {
		margin: 0;
		padding: 0;
	}

	a {
		color: black;
		text-decoration: none; // if you want to remove the underline
		font-weight: 600;
		text-decoration: underline;
		&:hover {
			cursor: pointer; // you can add an underline on hover, if desired
		}
	}
}

.incomingMessageContainer {
	@extend .baseMessageContainer;
	background-color: #f0f0f0;
	color: #000;
}
.outgoingMessageContainer {
	@extend .baseMessageContainer;
	background-color: #0084ff;
	color: #fff;
}

.baseImage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.receiverImg {
	@extend .baseImage;
	margin-right: 8px;
}

.senderImg {
	@extend .baseImage;
	margin-left: 8px;
}

.inputContainer {
	position: relative;
	display: flex;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-top: 12px;
	padding: 8px;
	flex-shrink: 0;
}
.inputTextArea {
	flex: 1;
	border: none;
	padding: 8px;
	margin-right: 16px;
	resize: none;

	overflow-y: auto;
	box-sizing: border-box;
	background-image: none;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	::selection {
		background: transparent; // Removes the default color
		border: none;
	}
}

.sendButton {
	padding: 16px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	img {
		display: block;
		margin: 0 auto; // Center the image if needed
		width: 24px;
		height: 24px;
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
}

.loaderBubble {
	max-width: 100px;
	padding: 8px 12px;
	background-color: #f1f1f1;
	border-radius: 15px;
	display: inline-block;
	margin: 5px;
	align-self: flex-start;
}

.loader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40px; // Adjust as needed
}

.dot {
	background-color: #888;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	animation: jump 0.6s infinite;
}

.dot:nth-child(1) {
	animation-delay: 0.1s;
}

.dot:nth-child(2) {
	animation-delay: 0.2s;
}

.dot:nth-child(3) {
	animation-delay: 0.3s;
}

@keyframes jump {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-12px);
	}
	60% {
		transform: translateY(-4px);
	}
}

.poweredBy {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;

	p {
		font-size: 1rem;
		line-height: 1rem;
		margin: 0px;
	}
	a {
		font-size: 1rem;
		line-height: 1rem;
		color: #101828;
		font-weight: 500;
		text-decoration: underline;
	}
}
