.container {
	flex: 1;
	display: flex;
	text-align: left;
	flex-direction: column;
	max-width: 1080px;
	width: calc(100vw - 64px);

	ul {
		margin: 0;
		margin-top: 32px;
		padding: 0;
		list-style-type: none; // This removes the default bullet points
		li {
			margin: 0;
			padding: 0;
		}
	}
	h4 {
		margin-top: 8px;
	}
}

.urlCrawlerView {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.fetchLinksInput {
	flex: 1;
}
.fetchLinksButton {
	margin-left: 24px;
}

.urlCrawlerDesc {
	color: #666;
	font-size: 18px;
	margin: 0px;
	margin-top: 12px;
	margin-left: 12px;
}

.addURLContainer {
	background-color: #333;
	color: #eaeaea;
	align-self: flex-end;
	border-radius: 8px;
}
.updateURLContainer {
	align-self: center;
	margin-top: 1rem;
}
.urlItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.urlItemP {
	margin: 0;
}

.urlCharCount {
	margin-left: 16px;
	font-size: 18px;
	width: 60px;
	color: #666;
	vertical-align: middle;
}

.urlItemButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 8px; // Giving some padding to make it a larger clickable area
	transition: transform 0.2s; // A subtle effect for interaction

	&:hover {
		transform: scale(
			1.05
		); // Slightly scale the button to indicate it's clickable
	}
}
.closeURLItem {
	display: block;
	width: 16px;
	height: 16px;
	object-fit: contain;
	margin: 0; // Removed margin-left for consistent spacing
}
.deleteURLItem {
	display: block;
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin: 0; // Removed margin-left for consistent spacing
}

.charDetected {
	margin-left: 16px;
	font-size: 20px;
	align-self: flex-end;
}

.statusLabel {
	display: inline-block;
	padding: 8px 16px;
	border-radius: 5px;
	color: #333; // Darker text color for better readability
	font-weight: 500; // Slightly bold text to stand out
	font-size: 20px;
	background: #f0f0f0; // Neutral light gray background
	border: 1px solid #ccc; // Light gray border
	margin-right: 8px;
}

.trained {
	background: #c8e6c9; // Light pastel green
	border-color: #a5d6a7; // Light green border
	color: #2e7d32; // Dark green text for contrast
}

.removing {
	background: #ffcdd2; // Light pastel red
	border-color: #ef9a9a; // Light red border
	color: #c62828; // Dark red text for contrast
}

.trainComponentContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
	overflow: hidden;
}
.progressContainer {
	position: relative;
	width: 100%;
	max-width: 1080px;
	background-color: "#e0e0e0";
	margin-top: 1rem;
}
