.settingsContainer {
	padding-top: 16px;
	margin-left: 16px;
	margin-right: 16px;
	max-width: 1080px;
	width: calc(100vw - 64px);
	height: 50vh;
	padding: 12px;
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	h3 {
		text-align: center;
		font-size: 20px;
		margin: 0px;
		margin-bottom: 8px;
		margin-left: 4px;
		font-weight: 600;
		color: #374151;
	}
}
